<div class="col-md-10" ng-controller="MovieListCtrl as mlctrl">
  <h4>List of Movies Stored in the Database</h4>
  <form name="movieListForm">
    <table name="movies" ng-model="mlctrl.movieList">
      <thead>
        <tr>
          <th>Code</th>
          <th class="width-30-pct">Title</th>
          <th class="width-30-pct">Director</th>
          <th>Genre</th>
          <th>Year Released</th>
          <!--<th colspan="2">Action</th>-->
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="movie in mlctrl.movies track by movie.code">
          <td>{{movie.code}}</td>
          <td>{{movie.title}}</td>
          <td>{{movie.director}}</td>
          <td>{{movie.genre}}</td>
          <td>{{movie.yearReleased}}</td>
        </tr>
      </tbody>
    </table>
    <input type="submit" ng-click="mlctrl.add()" value="add" />
    <input type="submit" ng-click="mlctrl.edit()" value="edit" />
  </form>
</div>
